extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}

//- 日本語訳
//- layout を継承
//- content ブロック
//-   h1 に message を表示
//-   h2 に error.status を表示
//-   pre に error.stack を表示
